<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Daniel's Bookmarks</title>
{% load staticfiles %}
<link rel="stylesheet" href={% static "bookmarks.css" %} />
</head>
<body>
<h1><a href = "/">Daniel's Bookmarks</a></h1>
	{% block before_links %}
	<h3>Current Bookmarks</h3>
	{% endblock %}
	<div class = "links">
	<ul>
	{% block content %}
	{% for link in links %}
		<li>
			<b><a href="/view/{{link.pk}}/up/" title = {{link.url}}>{{link.title}} </a></b> , {{link.views}} 
			<a href = "/current/{{link.pk}}">
			{% if link.current %}
			<IMG SRC = "http://i446.photobucket.com/albums/qq189/neokalvinist/websitepics/True_zpsd0836aff.gif" alt = "current" width="15" height = "15" />
			{% else %}
			<IMG SRC = "http://i446.photobucket.com/albums/qq189/neokalvinist/websitepics/False_zps10cf50f5.gif" alt = "not current" width="15" height = "15" />
			{% endif %}
			</a>
			<div class = "dateinfo">
			<br />
			Date Created: {{ link.created_on|date:"M d, Y"}}
			<br />
			Last Accessed: {{link.last_accessed|date:"M d, Y"}}
			</div>
			<p>
		</li>
	{% endfor %}
	</ul>
	
	</div>
	
	<div class = "categories">
	
	<ul>
		{% for category in categories %}
		<li>
		<a href = "/category/{{category.name}}">{{category.name}}  </a>
		</li>
		{% endfor %}
		{% endblock %}
	</ul>
	</div>
	
	<div class = "footer">
	Created by Daniel J. Horton
	</div>
</body>
</html>


